In [ ]:
from pyspark.context import SparkContext

In [ ]:
sc = SparkContext('local', 'test')

Ejemplo utilizando .take() en un contexto de una lista de empleadaos con sus salarios.

In [ ]:
# Crear un RDD con los salarios de los empleados
salarios = sc.parallelize([5000, 6000, 7500, 8500, 9000]).cache()

In [ ]:
# Tomar los primeros 2 salarios
primeros_salarios = salarios.take(2)
print(f"Los primeros 2 salarios son: {primeros_salarios}")

Los primeros 2 salarios son: [5000, 6000]

In [ ]:
# Intentar tomar 10 salarios de un RDD que solo tiene 5
salarios_limitados = sc.parallelize([5000, 6000, 7500, 8500, 9000])
salarios_tomados = salarios_limitados.take(10)
print(f"Intento de tomar 10 salarios (máximo disponible): {salarios_tomados}")

Intento de tomar 10 salarios (máximo disponible): [5000, 6000, 7500, 8500, 9000]

In [ ]:
# Crear un RDD con un rango de salarios y filtrar
salarios_rango = sc.parallelize(range(10000), 100)
salarios_filtrados = salarios_rango.filter(lambda x: x > 9500).take(3)
print(f"Tres salarios mayores a 95000: {salarios_filtrados}")

Tres salarios mayores a 95000: [9501, 9502, 9503]

1: Usamos sc.parallelize para crear un RDD con los salarios de algunos empleados y lo cacheamos para optimizar el acceso.

2: Usamos take(2) para obtener los primeros 2 salarios y los mostramos.

3: Intentamos usar take(10) en un RDD que solo tiene 5 elementos, mostrando que devuelve todos los elementos disponibles.

4: Creamos un RDD con un rango de salarios y filtramos aquellos mayores a 9500, tomando los primeros 3 resultados.