In [13]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, expr

In [14]:
spark = SparkSession.builder.appName("Spark Ejemplo").master("local").getOrCreate()
spark

In [20]:
bd = spark.read.csv('/ejemplo.csv', header=True, sep=',', inferSchema=True)
bd.show()

+----------+------------+-------------------+--------------+---------+
|Factory_ID|Factory_Name|   Production_Month|Units_Produced| Location|
+----------+------------+-------------------+--------------+---------+
|         1|   Fábrica A|2023-01-01 00:00:00|          5000|   Madrid|
|         2|   Fábrica B|2023-01-01 00:00:00|          7000|Barcelona|
|         1|   Fábrica A|2023-02-01 00:00:00|          6000|   Madrid|
|         2|   Fábrica B|2023-02-01 00:00:00|          8000|Barcelona|
|         3|   Fábrica C|2023-01-01 00:00:00|          3000| Valencia|
|         3|   Fábrica C|2023-02-01 00:00:00|          3500| Valencia|
+----------+------------+-------------------+--------------+---------+

In [34]:



ventas = sc.parallelize([
    ("producto_1", 100),
    ("producto_2", 150),
    ("producto_1", 200)
])


costos = sc.parallelize([
    ("producto_1", 80),
    ("producto_2", 90),
    ("producto_1", 70)
])

In [32]:
# Aplicar cogroup
cogrouped = ventas.cogroup(costos)

# Mostrar resultados
for producto, (ventas_group, costos_group) in cogrouped.collect():
    print(f"{producto}: Ventas = {list(ventas_group)}, Costos = {list(costos_group)}")

producto_1: Ventas = [100, 200], Costos = [80, 70]
producto_2: Ventas = [150], Costos = [90]