In [ ]:
from pyspark.context import SparkContext

In [ ]:
sc = SparkContext('local', 'test')

In [ ]:
#(distinct) En este caso si hizo una lista de personas que asistiran a un evento, debido a un error se duplicaron los nombres de algunas personas, por esa raz√≥n se usara el metodo   de distinct()

In [ ]:
#La lista de los nombres de las personas que asistiran al evento
nombres=["lucia", "Francisco", "Jim", "Cesar", "Jhon", "Jhoe","Jose", "lucia","Francisco","Jim", "Rebeca","Jenni","Rebeca","sofia"]

In [ ]:
#se crea un RDD a partir de la lista
rdd_nombres = sc.parallelize(nombres)

In [ ]:
#usamos el distinct para hacer la separacion de los nombres duplicados
nombres_unicos = rdd_nombres.distinct()

In [ ]:
#MOSTRAMOS LA LISTA DE LOS NOMBRES
nombres_unicos.collect()

['lucia',
 'Francisco',
 'Jim',
 'Cesar',
 'Jhon',
 'Jhoe',
 'Jose',
 'Rebeca',
 'Jenni',
 'sofia']