In [86]:
from pyspark.sql import SparkSession
import os

# Crear una sesión de Spark
spark = SparkSession.builder \
    .appName("EjemploRDD.Sparcktextasfile") \
    .getOrCreate()

# Crear un RDD a partir de una lista
data = [5, 3, 8, 1, 2, 7,44,22,77,99,1]
rdd = spark.sparkContext.parallelize(data)

# Encontrar el valor maximo en el RDD
min_value = rdd.max()
print(f"El valor mínimo en el RDD es: {min_value}")

El valor mínimo en el RDD es: 99

In [87]:
# Encontrar el valor maximo en el RDD
min_value = rdd.min()
print(f"El valor mínimo en el RDD es: {min_value}")

El valor mínimo en el RDD es: 1