In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, expr

In [2]:
spark = SparkSession.builder.appName("Spark Ejemplo").master("local").getOrCreate()
spark

In [4]:
bd = spark.read.csv('/ejemplo.csv', header=True, sep=',', inferSchema=True)
bd.show()

+----------+------------+-------------------+--------------+---------+
|Factory_ID|Factory_Name|   Production_Month|Units_Produced| Location|
+----------+------------+-------------------+--------------+---------+
|         1|   Fábrica A|2023-01-01 00:00:00|          5000|   Madrid|
|         2|   Fábrica B|2023-01-01 00:00:00|          7000|Barcelona|
|         1|   Fábrica A|2023-02-01 00:00:00|          6000|   Madrid|
|         2|   Fábrica B|2023-02-01 00:00:00|          8000|Barcelona|
|         3|   Fábrica C|2023-01-01 00:00:00|          3000| Valencia|
|         3|   Fábrica C|2023-02-01 00:00:00|          3500| Valencia|
+----------+------------+-------------------+--------------+---------+

In [6]:
meses_produccion = bd.rdd.flatMap(lambda x: [(x.Production_Month, x.Units_Produced)])
meses_produccion.collect()

[(datetime.datetime(2023, 1, 1, 0, 0), 5000),
 (datetime.datetime(2023, 1, 1, 0, 0), 7000),
 (datetime.datetime(2023, 2, 1, 0, 0), 6000),
 (datetime.datetime(2023, 2, 1, 0, 0), 8000),
 (datetime.datetime(2023, 1, 1, 0, 0), 3000),
 (datetime.datetime(2023, 2, 1, 0, 0), 3500)]