In [1]:
from pyspark.context import SparkContext

In [2]:
sc = SparkContext('local', 'test')

In [ ]:
#(join) se tiene dos lista de datos, uno donde se muestra el nombre del empleado junto con el numero del departamento y otro donde se muestra la informacion del departamento

In [3]:
# RDD con empleados (ID_empleado, (nombre_empleado, ID_departamento))
empleados = [
    (1, ("Ana", 101)),
    (2, ("Luis", 102)),
    (3, ("Carlos", 101)),
    (4, ("María", 103))
]

In [4]:

# RDD con departamentos (ID_departamento, nombre_departamento)
departamentos = [
    (101, "Ventas"),
    (102, "Marketing"),
    (103, "Finanzas"),
    (104, "Recursos Humanos")
]

In [5]:
# se crea RDDs a partir de las listas
rdd_empleados = sc.parallelize(empleados)
rdd_departamentos = sc.parallelize(departamentos)

In [6]:
# se usa el  join para combinar los RDDs
# primero, cambiamos la estructura del RDD de empleados a (ID_departamento, (ID_empleado, nombre_empleado))
rdd_empleados_departamento = rdd_empleados.map(lambda x: (x[1][1], (x[0], x[1][0])))

resultado_join = rdd_empleados_departamento.join(rdd_departamentos)

In [7]:
resultado_join.collect()

[(102, ((2, 'Luis'), 'Marketing')),
 (101, ((1, 'Ana'), 'Ventas')),
 (101, ((3, 'Carlos'), 'Ventas')),
 (103, ((4, 'María'), 'Finanzas'))]