In [1]:
from pyspark.context import SparkContext

In [2]:
sc = SparkContext('local', 'test')

In [ ]:
#(sortBykey)se tiene un conjunto de datos que registra las ventas de varios productos en una tienda, y deseas ordenar esos productos por el total de ventas.

In [3]:
# La lista de ventas (producto, total_ventas)
ventas = [
    ("Manzanas", 200),
    ("Naranjas", 150),
    ("Plátanos", 300),
    ("Peras", 100),
    ("Kiwi", 400)
]

In [4]:
# se crea un RDD a partir de la lista de ventas
rdd_ventas = sc.parallelize(ventas)

In [5]:
# se usa sortByKey para ordenar por nombre de producto
resultado_ordenado = rdd_ventas.sortByKey()

In [7]:
resultado_ordenado.collect()

[('Kiwi', 400),
 ('Manzanas', 200),
 ('Naranjas', 150),
 ('Peras', 100),
 ('Plátanos', 300)]